<html>
  <head>
    <title>Mytodolist-{{user.nickname}}</title>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
  </head>
  <body>
    <div style="width: 100%;">
		<div class="topLine">
		        <div style="float: left;"><img src="images/appengineafrica.png" /></div>

			<div style="float: right;"><a href="{{ url }}">{{ url_linktext }}</a> {{user.nickname}}</div>
		</div>
	</div>
{% if user %}
{% if num_my_todo %}
 
You have a total number of {{num_my_todo}} MyTodos.

{% else %}
You have no Todo's Yet , Please Enter MyTodos for the Day! 
 
{% endif %}


    <p>My List of things to do - by {{user.nickname}}</p>
    <ol>
    {% for todo in my_todo%}
    
    <li>{{todo.description|escape}}</li>
    {% endfor  %}
    </ol>

    <form action="" method="post" >
    <textarea name="my_todo" rows="8" cols="80"></textarea>
    <p><input type="submit" value="Add Todo"/></p>
    </form>
{% else %}
Login with your Google Account to create and review your List of things to !.
{% endif%}



  </body>

</html>
